<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="CSS/styles.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <meta charset="utf-8">
  <title>Trackk It</title>
</head>

<body>
  <section id="about">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href=""> Trackk It</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id = "navbarSupportedContent">



          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">LogIn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
      <p class="about">
        Losing weight isn't easy - we know.
        But with a membership to Trackk It.com, you'll get the
        tools you need to successfully take weight off - and keep it off.
        And best of all, you can signup for free, no strings attached.
        So put away your credit card - you'll never have to pay a cent.</p>

      <p class="about">
        Study after study has confirmed the benefits of keeping track of the food you eat
          and the activity you do.
          It's simple - the more consistently you track your food intake,
          the more likely you are to lose weight.
          That's why every successful weight management program suggests that you keep a
          food diary and/or an activity log. But recording everything you eat
          without the right tools can be tedious at best, or simply impossible at worst.

      </p>
      <p class="about">
        At Trackk It.com, we focus on making sure you can
        log your meals as quickly and easily as possible.
        Because the easier we make it for you, the more likely
        you are to stay on track, and the more likely you are to succeed in
        your weight loss goals.
      </p>
<p class = "about">

  And this is not it! If you believe in visualization of data, we have the graphical representation of both nutrients and exercise through which you can observe your data on daily or weekly basis.

</p>
  </section>

</body>

</html>
