<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trackk It</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style="padding-bottom: 5%; background-image: -webkit-linear-gradient(60deg, #BDC3C7  40%,#E5E7E9 60% )">


    <br>
    <br>


    <h2>We really appreciate you showing the trust in us, and congrats!! as you are 1 step closer towards a healthy life. </h2>

  <h3>Go through these instructions to have a personalised experience on our website.</h3>
  <br>

<h3>>Instructions:</h3>

<h3>We provide you two ways to add your meal.</h3>

<h4><strong>1) To add one food item at a time</strong> </h4>


  <img src="images\inst1.png" alt="" width="60%" height="40%">
<br>
<br>
<h5>
  >In the above screenshot ,the value <strong>2</strong> in serving field  signifies the quantity(by number) of burgers the user have taken
  </h5>
  <br><br>
<img src="images\inst2.png" alt="" width="60%" height="40%">
<br><br>
<h5>
  >In the above screenshot ,the value <strong>100g</strong> in serving field  signifies the quantity(by weight) of dal the user have taken
  </h5>
  <br><br>
  <img src="images\inst3.png" alt="" width="60%" height="40%">
<br><br>
  <h5>>Serving field is optional. If the user does not mention any value in the serving field then the default value of <strong>100g(by weight)</strong> will be considered</h5>

<br>

<h4><strong>2) To add multiiple food items at a time</strong> </h4>
<img src="images\inst4.png" alt="" width="60%" height="40%">
<br><br>
<h5>>User should specify the serving quantity (either by weight or by number) along with food name</h5>
<br>
<div style="text-align:center">
  <a href="/food"<button type="button"  style="align:center" class="btn btn-lg  btn-success">Go back</button>  </a>
</div>


  </body>
</html>
