body {
background-color:#E8ECEF;
padding-top: 2%;
font-size: 1.5rem;
}


.con{
  color:white;
}
.centered {
    padding-top: 200px;
    text-align: center;
}



.contact{
  background-image: -webkit-linear-gradient(60deg, #004c3f   40%,#008060 60% );


}
